// footer
footer.footer

	.container
		.footer__wrap
			.footer__logo-wrap
				.footer__logo
					img.img.svg(src="img/footer-logo.svg",width="135", height="33", alt="footer-logo")
				.footer__copy
					span Copyright © 2021 High-Tech Bridge
			.footer__menu
				ul
					li
						a(href=".hero").js-scroll-to-form ABOUT
					li
						a(href=".solution").js-scroll-to-form SOLUTIONS
					li
						a(href=".provider").js-scroll-to-form AWARDS
					li
						a(href=".custom").js-scroll-to-form RESEARCH
			.footer__info-wrap
				.footer__info-elem
					p address:
					a(href="mailto:sales@htbridge.com") sales@htbridge.com
				.footer__info-elem
					p phone:
					a(href="tel:+41225606800") +41 22 560 6800
				.footer__info-elem
					p address:
					span Rue du Rhône 14<br>CH-1215 Geneva<br>Switzerland
			.footer__socials
				a(href="#" target='_blank').footer__social
					img.img.svg(src="img/twitter.svg", alt="facebook")
				a(href="#" target='_blank').footer__social
					img.img.svg(src="img/facebook2.svg", alt="facebook")
				a(href="#" target='_blank').footer__social
					img.img.svg(src="img/linkedin-logo.svg", alt="linkedin")

		

	// /.container

// /.footer






























