// header
header.header

	.container
		.header__wrap
			a(href="index.html").header__logo
				img.img.svg(src="img/logo-high-tech-bridge.svg", width="229", height="57", alt="logo")
			.header__burger
				span
			.header__menu.g-menu
				ul
					li.list
						a(href=".hero").js-scroll-to-form about
					li.list
						a(href=".solution").js-scroll-to-form SOLUTIONS
					li.list
						a(href=".provider").js-scroll-to-form AWARDS
					li.list
						a(href=".custom").js-scroll-to-form RESEARCH



	// /.container

// /.header



















