section.custom

	.container
		h2.title-2.text-center Custom Vulnerability Research
		.custom__body
			p While testing and developing various vulnerability detection algorithms,<br> we discovered hundreds of vulnerabilities in the most popular <br>commercial and open source web applications<br> and frameworks
		.custom__wrap
			.custom__elem
				img.img.svg(src="img/Microsoft_logo.svg", width="96", height="96", alt="Microsoft_logo")
			.custom__elem
				img.img.svg(src="img/Sony_logo.svg",width="180", height="32", alt="Sony_logo")
			.custom__elem
				img.img.svg(src="img/HP_New_Logo_2D.svg", width="100", height="100",alt="HP_New_Logo_2D")
			.custom__elem
				img.img.svg(src="img/WordPress_logo.svg", width="240", height="54",alt="WordPress_logo")
			.custom__elem
				img.img.svg(src="img/Magento.svg",width="210", height="59", alt="Magento")
