// hero
section.hero

	.container
		.hero__block
			h1.title-1 Tailored<br> Cybersecurity Research<br> and Digital Forensics
			p
				| High-Tech Bridge is a Geneva-based MSSP provider offering penetration testing, 
				| security auditing and compliance. Originally created as a penetration testing
				| boutique in 2007, High-Tech Bridge was later recognized by 
				a(href='#') Frost & Sullivan <br>
				| as a leading service provider in the emerging European
				| penetration testing market in 2012.






	// /.container

// /.hero