section.provider

	.container-sm
		h2.title-2.text-center Trusted European Provider of <br>Cybersecurity since 2007
		.provider__wrap
			.provider__img
				img.img(src="img/img-1.png", alt="1")
			.provider__body
				.elem
				p.text-lt Frost & Sullivan’s Market Research “How Machine Learning will Strengthen the Web Application Security Testing Market” recognized  High-Tech Bridge as the most innovative player<br> on Application Security Testing marketplace.