section.solution

	.container-sm
		.solution__wrap
			h2.title-2.text-center Choose your solution
			.solution-tab-wrapper
				.solution-tab-wr
					.solution-tab.solution-tab--active
						.solution-tab__img
							img.img(src="img/1.png", alt="1")
						h4.title-3 MALWARE RESERVED ENGINEERING 
					.solution-tab
						.solution-tab__img
							img.img(src="img/2.png", alt="2")
						h4.title-3 CUSTOM EXPLOIT DEVELOPMENT
					.solution-tab
						.solution-tab__img
							img.img(src="img/3.png", alt="3")
						h4.title-3 DIGITAL FORENSICS CONSULTING
				.solution-item-wr
					.solution-tab-item.solution-tab-item-active1
						.solution-tab-item__wrap
							.solution-tab-item__img
								img.img(src="img/cont-1.png", alt="1")
							.solution-tab-item__body
								p 1High-Tech Bridge leverages the award-winning AI technology for intelligent automation and acceleration of laborious tasks and processes, saving as much as 90% of human time compared to traditional human services.
								p Our security experts handle only to the most complicated tasks and processes that truly deserve human intelligence thereby offering the best quality and best price of service on the global market.
					.solution-tab-item
						.solution-tab-item__wrap
							.solution-tab-item__img
								img.img(src="img/cont-1.png", alt="1")
							.solution-tab-item__body
								p 2High-Tech Bridge leverages the award-winning AI technology for intelligent automation and acceleration of laborious tasks and processes, saving as much as 90% of human time compared to traditional human services.
								p Our security experts handle only to the most complicated tasks and processes that truly deserve human intelligence thereby offering the best quality and best price of service on the global market.
					.solution-tab-item
						.solution-tab-item__wrap
							.solution-tab-item__img
								img.img(src="img/cont-1.png", alt="1")
							.solution-tab-item__body
								p 3High-Tech Bridge leverages the award-winning AI technology for intelligent automation and acceleration of laborious tasks and processes, saving as much as 90% of human time compared to traditional human services.
								p Our security experts handle only to the most complicated tasks and processes that truly deserve human intelligence thereby offering the best quality and best price of service on the global market.

