.solution .title-2 {
  margin-bottom: 60px;
}

.solution__wrap {
  padding: 120px 0;
}

.solution .solution-tab-item:not(:first-child) {
  display: none;
}

.solution .solution-tabs {
  margin-left: 15px;
}

.solution .solution-tab-wr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.solution .solution-tab {
  cursor: pointer;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: relative;
}

.solution .solution-tab h4 {
  margin-bottom: 0;
}

.solution .solution-tab__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.solution .solution-tab--active {
  position: relative;
}

.solution .solution-tab--active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
}

.solution .solution-tab-item {
  margin-top: -1px;
  border: 1px solid #ddd;
  width: 400px;
  border-radius: 3px;
  padding: 5px 10px;
}
